<div class="p-4 mb-3 bg-light rounded">
  <h4 class="fst-italic">About</h4>
  <p class="mb-0">
    Cecília, 19 anos, estudante de Sistemas para Internet. Apaixonada por
    tecnologia, estou construindo meu portfólio de desenvolvimento web com
    projetos em Ruby on Rails. Cada linha de código é uma busca constante por
    aprendizado, transformando ideias criativas em soluções funcionais.
    Bem-vindo!</p>
</div>
